
* {
    margin: 0;
    padding: 0;
    /*border: red dashed 2px;/*To better see elements*/
}

*[theme='dark']{
    --Hbg: #000000; --Hfg: #f1eb00;
    --Mbg:#222222; --Mfg: #dddddd;
    --Fbg: #594219; --Ffg: #317619;
    --Accent: #ff7c1e;
}
*[theme='light'] {
    --Hfg: #000000;
    --Hbg: #f1eb00;
    --Mfg: #222222;
    --Mbg: #dddddd;
    --Ffg: #594219;
    --Fbg: #317619;
    --Accent: #cc6cfd
}

/*STARS
    TODO adjust stars to match theme
*/
.star {
    background-color: #fdf7a1;
    position: fixed;
    width: 5px;
    height: 5px;
    top: 2%;
    border-radius: 50%;
    box-shadow: 0 0 0 4px #fdf7a101, 0 0 0 8px #fdf7a121, 0 0 0 10px #fdf7a152;
    /* Unusual delay? */
    /* cubic(x) == linear keyword */
    animation: stars 3s cubic-bezier(0,0,1,1) infinite;
}

    .star::before {
        content: ""; /*needs content so ::before works*/

        background-image: linear-gradient(45deg, #dddddd, #dddddd, transparent);
        position: absolute; /*need abs else auto squashes*/
        transform: translateY(2px);
        height: 1px;
        width: 400px;
    }

@keyframes stars {
    /*0% {
        opacity: 0;
        transform: rotate(-65deg) translateX(0);
    }*/

    69% {
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: rotate(-65deg) translateX(-10000%);
    }
}
/*STARS*/


body {
    height: 100vh;
    background-color: var(--Mbg);
    color: var(--Mfg);
    padding-left: 1vmin; /* ViewPort = screen = relative constant */
    padding-right: 1vmin; /* ViewPort = screen = relative constant */

    display: grid;
    grid-template-rows: minmax(0,10%) minmax(0,80%) minmax(0,10%);
    grid-template-columns: 1fr;

    min-width:400px;
}

.clickable {
    background-color: var(--Accent);
    padding: .4vw;
    text-align: center;
}
.clickable:hover, nav > ul > ul:hover{
    text-decoration: underline;
    cursor: pointer
}

header {
    padding: .5vh;
    height:5vh;
    width: 90vw;

    background-color: var(--Hbg);
    color: var(--Hfg);

    opacity: 0.8;


    column-span: all;

    display:grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 100%;

    justify-self: center;
}

/*TODO mobile layout vers ??*/
@media screen and (max-width: 600px) {

    header {
        flex-direction: column;
    }
}

header:hover {
    opacity: 1;
}

header > img {
    /* % = parent*/
    max-height: 100%;
    max-width: 100%;
}

.PageTitle {        
    padding: 5px;
    margin: auto;
}

body > div {
    display: grid;
                            /*default 1fr == minmax(auto,1fr) and lets grid expand!*/
    grid-template-columns: minmax(0,2fr) minmax(0,10fr);
    grid-column-gap: 2vw;    
}

nav{
    overflow-y: auto;
    text-align:center;
}

#navTitle {
    font-weight: bold;
    color: var(--Accent);
    background-color: var(--Fbg);
    width: 100%;
    margin-bottom: 3vw;
}

nav > ul {
    margin-bottom: 1vw;
    padding-left:1vw;
    text-align:left;
}
nav > ul:hover{
    cursor:pointer;
}

nav > ul > ul {
    text-align:right;
}

ul :hover{
    cursor: pointer
}
ul > svg {
    transform: rotate(-90deg);
}

/*whitespace picky - whitespace = child tag*/
ul[class] > ul {
    background-color: #00000022;
}

#MainContent{
    display:grid;
    grid-template-columns: minmax(0,4fr) minmax(0,1fr);
    grid-column-gap: 1vw;
    overflow:auto;
}

#MainContent > section {
    border: var(--Accent) groove 40px;
    border-radius: 50px;
    background-color: var(--Hbg);
    padding:5px;
    white-space: pre-wrap; /*pre interferes with wordwrap*/
    word-wrap: break-word;
    text-align:left;

    overflow:auto;
    
}

figure{
    margin:auto;
    text-align:center;
}
figure > img{
    width:100%;
}

footer {
    text-align: center;
    padding: .5vh;
    background-color: var(--Fbg);
    color: var(--Ffg);
    bottom: 0vh;
    width: 80%;
    font-weight: bold;
    height: 5vh;
    overflow: auto;
    /*margin-left: auto; margin-right:auto;*/ /*CSS centralise footer - relative*/
    left: 50%;
    transform: translateX(-50%); /*CSS centralise footer - absolute*/

    position: fixed;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 6fr 4fr;
    grid-auto-flow: row;
}
footer img{
    height:50px;
}

/*stop anchors overriding styles*/
a{ text-decoration:inherit; color:inherit; }

/*TODO
    FsImg in <figure> needs to be sticky and scroll with user!
*/
