@import 'Theme.css';
@import 'Stars.css';
/*make the css more modular*/

/*TODO 
    tab-stops for non-mouse users / accessibility friendly ? only works on <a> tags
*/


* {
    margin: 0;
    padding: 0;
    /*border: red dashed 2px;/*To better see elements*/
}


body {
    /*font-size is based on device .. specified fonts use em which reference this dynamic size*/
    font-size:1vw;

    height: 100vh;
    background-color: var(--Mbg);
    color: var(--Mfg);
    padding-left: 1vmin; /* ViewPort = screen = relative constant */
    padding-right: 1vmin; /* ViewPort = screen = relative constant */

    display: grid;
    grid-template-rows: minmax(60px,10%) minmax(400px,80%) minmax(50px,10%);
    grid-template-columns: 1fr;
    grid-row-gap: 5px;

    min-width:400px;
}


.clickable {
    background-color: var(--Accent);
}
.clickable:hover, nav > ul > ul:hover{
    text-decoration: underline;
    cursor: pointer
}

header {
    font-size: 1rem;

    padding: .5vh;
    width: 82vw;

    background-color: var(--Hbg);
    color: var(--Hfg);

    opacity: 0.8;

    display:grid;
    grid-template-rows:100%;
    grid-template-columns: 1fr 2fr 1fr;

    justify-content:space-around;
    justify-items: center; align-items:center;   

    justify-self: center;
    
}

header:hover {
    opacity: 1;
}

    header > #icon {
        /* % = parent*/
        height: 100%;
        width: 100%;
        text-align: center;
        text-shadow: 0px 0px 2px var(--Mbg);
        --RanA: var(--Hfg);
        --RanB: var(--Accent);
        animation: rainbowText 5s ease alternate infinite; /*TODO animated txt*/
    }

@keyframes rainbowText{

    0%{
        color: var(--RanA);
    }
    
    
    100%{
        color: var(--RanB);
    }
}

header > .PageTitle {
    padding: 5px;
    margin: auto;
    
}
header > div {
    margin: auto;
    font-size: 1.5em
}

body > div {
    display: grid;
                            /*default 1fr == minmax(auto,1fr) and lets grid expand!*/
    grid-template-columns: minmax(0,2fr) minmax(0,10fr);
    grid-column-gap: 2vw;
}

nav {
    overflow-y: auto;
    text-align: center;
    font-size: 2em;
}

#navTitle {
    font-weight: bold;
    color: var(--Accent);
    background-color: var(--Fbg);
    width: 100%;
    margin-bottom: 3vw;
}

nav > ul {
    margin-bottom: 1vw;
    padding-left:1vw;
    text-align:left;
}
nav > ul:hover{
    cursor:pointer;
}

nav > ul > ul {
    text-align:right;
}

ul :hover{
    cursor: pointer
}
ul > svg {
    transform: rotate(-90deg);
}

/*whitespace picky - whitespace = child tag*/
ul[class] > ul {
    background-color: #00000022;
}

#MainContent {
    font-size: 2em;

    display: grid;
    grid-template-columns: minmax(0,4fr) minmax(0,1fr);
    grid-column-gap: 1vw;
    overflow: auto;
}

#MainContent > section {
    border: var(--Accent) groove 40px;
    border-radius: 50px;
    background-color: var(--Hbg);
    padding:5px;
    white-space: pre-wrap; /*pre interferes with wordwrap*/
    word-wrap: break-word;
    text-align:left;

    overflow:auto;
    
}

figure {
    margin: auto;
    text-align: center;
}
figure > img{
    width:100%;
}
figure > figcaption{
    word-wrap: anywhere;
}

footer {
    font-size: 5em;


    text-align: center;
    padding: .5vh;
    background-color: var(--Fbg);
    color: var(--Ffg);
    width: 80%;
    font-weight: bold;
    overflow: auto;
    left: 50%;
    /**/ margin-left: auto;
    margin-right: auto; /*CSS centralise footer - relative*/
    /*transform: translateX(-50%); /*CSS centralise footer - absolute*/

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 6fr 4fr;
    grid-auto-flow: row;
}
footer a{
    text-align:center;
    padding:auto;
    margin:auto;
    align-content:center;
    align-items:center;
    align-self:center;
}
footer img{
    height:50px;
}

/*stop anchors overriding styles*/
a{ text-decoration:inherit; color:inherit; }

/*detects if width > height - i.e. large screens / desktop*/
@media screen and (orientation: landscape){
    header{
/*        background-color:aqua;*/
    }
}
@media screen and (orientation: portrait) {    
    header {
/*        background-color: red;*/
    }
}
@media screen and (max-width: 600px) {

}
@media screen and (max-height: 400px){

}